
# Handle client-side routing in React app
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /cancionero/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /cancionero/index.html [L]
</IfModule>
